<div id="form">
  <form >
    <h1>Formulário</h1>
      <div>
          <mat-form-field class="full-width">
              <mat-label>Nome</mat-label>
              <input matInput required>
          </mat-form-field>
      </div>
      <div>
          <mat-form-field class="full-width">
              <mat-label>Sobrenome</mat-label>
              <input matInput required>
          </mat-form-field>
      </div>
      <div>
          <mat-form-field class="full-width">
              <mat-label>Idade</mat-label>
              <input matInput required>
          </mat-form-field>
      </div>
      <div>
          <mat-form-field class="full-width">
              <mat-label>CPF</mat-label>
              <input matInput required>
          </mat-form-field>
      </div>
      <div>
          <mat-form-field class="full-width">
              <mat-label>RG</mat-label>
              <input matInput required>
          </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <mat-label>Sexo</mat-label>
          <select matNativeControl required>
              <option value="m">Masculino</option>
              <option value="f">Feminino</option>
          </select>
        </mat-form-field>
      </div>
  </form>
</div>